.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .header .container {
	width: 1600px;
	margin: 0 auto;
}

header .header {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

header .container .account_buttons a {
	text-decoration: none;
	color: black;
}

header .container .account_buttons .profile_button {
	color: rgb(0, 238, 255);
	margin: 8px 10px;
}


header .container .account_buttons .white_button {
	color: white;
}

header .container .account_buttons .black_button {
	color: black;
}

header .container .account_buttons .black_button:hover {
	color: blue;
}

header .container button:not(:last-child) {
	margin-right: 15px;
}

header .container button:not(:first-child) {
	padding: 8px 30px;
}

main .container-admin {
	background-color: red;
}

main .container-executor {
	background-color: aqua;
}

main .container-customer {
	background-color: greenyellow;
}

main .container-admin, .container-executor, .container-customer {
	width: 400px;
	text-align: center;
}

main .edit_content {
	width: 400px;
}

main .edit_content button {
	margin: 0 60px;
}

main .image .text {
	width: 350px;
}
